services:
  postgres:
    image: postgres:17.6-alpine
    container_name: postgres
    env_file: ./.env
    ports:
      - "5437:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - directus_network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    env_file: ./.env
    ports:
      - "5057:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    restart: unless-stopped
    networks:
      - directus_network

networks:
  directus_network:
    external: true

volumes:
  postgres_data:
  pgadmin_data:
